* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.project {
    margin-bottom: 20px;
}

#certifications {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 5px; /* Rounded corners */
}

#certifications h2 {
    margin-bottom: 10px;
}

#certifications ul {
    list-style-type: none; /* Remove default list styling */
}

#certifications ul li {
    margin: 5px 0; /* Space between items */
    padding: 5px; /* Padding for each item */
    background-color: #e9ecef; /* Light gray background for items */
    border-radius: 3px; /* Rounded corners for items */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}